<footer class="mt-auto bg-secondary py-16 overflow-hidden">
    <div class="container">
        <div class="grid grid-cols-12 gap-5 lg:gap-y-10">
            <div class="col-span-12 minlg:col-span-6 minxl:col-span-5">
                <div class="flex flex-col items-start max-w-[500px]">
                    <div class="flex flex-col items-start gap-6 mb-5">
                        <img class="" src="../img/Main-Logo.svg" alt="Unboxed Fillers">
                    <p class="text-dark-green leading-[150%]]">Join our newsletter to stay up to date on features and releases.</p>
                    <div class="flex items-center">
                        @@include('input.html', {
                            'type': 'text',
                            'common-style': 'flex-1 w-[345px] mr-4',
                            'idInput': 'MailId',
                            'placeholder': 'Enter your email',
                            'label': 'Email',
                            'styleInput': '',
                            'styleLabel': 'hidden',
                            'errorStyle': 'hidden'
                        })
                        <button type="submit" class="button test2 px-6 py-3 rounded-xl border transition group border-white hover:border-primary bg-primary inline-flex items-center justify-center hover:bg-transparent text-white hover:text-primary" href="">
                            <span class="font-medium">Subscribe</span>
                        </button>
                    </div>
                    </div>
                    <p class="text-h11 text-dark-green">By subscribing you agree to with our <a class="underline" href="#">Privacy Policy</a> and provide consent to receive updates from our company.</p>
                
                </div>
            </div>
            <div class="col-span-1 hidden minxl:block"></div>
            <div class="col-span-6 minsm:col-lg-4 minlg:col-span-2 flex flex-col">
                <span class="block mb-6 font-semibold">Navigate</span>
                <ul class="flex flex-col gap-4">
                    <li>
                        <a class="text-h10 hover:text-primary transition" href="#">Home Page</a>
                    </li>
                    <li>
                        <a class="text-h10 hover:text-primary transition" href="#">Brands</a>
                    </li>
                    <li>
                        <a class="text-h10 hover:text-primary transition" href="#">Manufacturer</a>
                    </li>
                    <li>
                        <a class="text-h10 hover:text-primary transition" href="#">All Categories</a>
                    </li>
                    <li>
                        <a class="text-h10 hover:text-primary transition" href="#">Botulinum</a>
                    </li>
                    <li>
                        <a class="text-h10 hover:text-primary transition" href="#">Dermal Fillers</a>
                    </li>
                </ul>
            </div>
            <div class="col-span-6 minsm:col-lg-4 minlg:col-span-2 flex flex-col">
                <span class="block mb-6 font-semibold">Legal</span>
                <ul class="flex flex-col gap-4">
                    <li>
                        <a class="text-h10 hover:text-primary transition" href="#">About Us</a>
                    </li>
                    <li>
                        <a class="text-h10 hover:text-primary transition" href="#">Shipping</a>
                    </li>
                    <li>
                        <a class="text-h10 hover:text-primary transition" href="#">Terms</a>
                    </li>
                    <li>
                        <a class="text-h10 hover:text-primary transition" href="#">Privacy</a>
                    </li>
                    <li>
                        <a class="text-h10 hover:text-primary transition" href="#">Policy</a>
                    </li>
                    <li>
                        <a class="text-h10 hover:text-primary transition" href="#">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="col-span-12 minsm:col-lg-4 minlg:col-span-2 flex flex-col">
                <span class="block mb-6 font-semibold">Contact Us</span>
                <ul class="flex flex-col gap-4">
                    <li class="flex items-center">
                        <div class="mr-3 w-6 flex justify-center items-center">
                            <i class="clock-icon"></i>
                        </div>
                        <span>9:00 - 18:00</span>
                    </li>
                    <li class="flex items-center">
                        <div class="mr-3 w-6 flex justify-center items-center">
                            <i class="phone-small"></i>
                        </div>
                        <a class="text-primary " href="tel:9299495965">(929) 949 5965</a>
                    </li>
                    <li class="flex items-center">
                        <div class="min-w-[24px] mr-3 flex justify-center items-center">
                            <i class="mail-icon"></i>
                        </div>
                        <a class="text-h11" href="mal:info@medfillersupply.com">info@medfillersupply.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container flex justify-between flex-wrap gap-y-6 gap-x-5 pt-8 border-t border-primary mt-20">
        <p>&copy; 2023 All rights reserved.</p>
        <ul class="flex gap-x-6">
            <a class="text-dark-green underline sm:text-h11" href="#">Privacy Policy</a>
            <a class="text-dark-green underline sm:text-h11" href="#">Terms of Service</a>
            <a class="text-dark-green underline sm:text-h11" href="#">Cookies Settings</a>
        </ul>
    </div>
</footer>