<footer class="mt-auto bg-secondary py-16 overflow-hidden">
    <div class="container grid grid-cols-2 gap-2">
        <div class="flex flex-col items-start">
            <img class="mb-6" src="../img/Main-Logo.svg" alt="Unboxed Fillers">
            <p>Join our newsletter to stay up to date on features and releases.</p>
           
            <p>By subscribing you agree to with our Privacy Policy and provide consent to receive updates from our company.</p>
        </div>
        <div>
            <div class="grid grid-cols-3">
                <div class="flex flex-col">
                    <span class="block mb-6 font-semibold">Navigate</span>
                    <ul class="flex flex-col gap-4">
                        <li>
                            <a class="text-h10 hover:text-primary transition" href="#">Home Page</a>
                        </li>
                        <li>
                            <a class="text-h10 hover:text-primary transition" href="#">Brands</a>
                        </li>
                        <li>
                            <a class="text-h10 hover:text-primary transition" href="#">Manufacturer</a>
                        </li>
                        <li>
                            <a class="text-h10 hover:text-primary transition" href="#">All Categories</a>
                        </li>
                        <li>
                            <a class="text-h10 hover:text-primary transition" href="#">Botulinum</a>
                        </li>
                        <li>
                            <a class="text-h10 hover:text-primary transition" href="#">Dermal Fillers</a>
                        </li>
                    </ul>
                </div>
                <div class="flex flex-col">
                    <span class="block mb-6 font-semibold">Legal</span>
                    <ul class="flex flex-col gap-4">
                        <li>
                            <a class="text-h10 hover:text-primary transition" href="#">About Us</a>
                        </li>
                        <li>
                            <a class="text-h10 hover:text-primary transition" href="#">Shipping</a>
                        </li>
                        <li>
                            <a class="text-h10 hover:text-primary transition" href="#">Terms</a>
                        </li>
                        <li>
                            <a class="text-h10 hover:text-primary transition" href="#">Privacy</a>
                        </li>
                        <li>
                            <a class="text-h10 hover:text-primary transition" href="#">Policy</a>
                        </li>
                        <li>
                            <a class="text-h10 hover:text-primary transition" href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="flex flex-col">
                    <span class="block mb-6 font-semibold">Contact Us</span>
                    <ul class="flex flex-col gap-4">
                        <li class="flex items-center">
                            <div class="mr-3 w-6 flex justify-center items-center">
                                <i class="clock-icon"></i>
                            </div>
                            <span>9:00 - 18:00</span>
                        </li>
                        <li class="flex items-center">
                            <div class="mr-3 w-6 flex justify-center items-center">
                                <i class="phone-small"></i>
                            </div>
                            <a class="text-primary " href="tel:9299495965">(929) 949 5965</a>
                        </li>
                        <li class="flex items-center">
                            <div class="min-w-[24px] mr-3 flex justify-center items-center">
                                <i class="mail-icon"></i>
                            </div>
                            <a href="mal:info@medfillersupply.com">info@medfillersupply.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container flex justify-between pt-8 border-t border-primary mt-20">
        <p>&copy; 2023 All rights reserved.</p>
        <ul class="flex gap-x-6">
            <a class="text-dark-green underline" href="#">Privacy Policy</a>
            <a class="text-dark-green underline" href="#">Terms of Service</a>
            <a class="text-dark-green underline" href="#">Cookies Settings</a>
        </ul>
    </div>
</footer>