<script>
    // JavaScript to toggle the mega menu
    const toggles = document.querySelectorAll('button[data-menu-target]')
    let currentMenu = null
    let currentButton = null

    toggles.forEach(toggle => {
      toggle.addEventListener('click', function (event) {
        event.stopPropagation()
        const targetId = toggle.getAttribute('data-menu-target')
        const targetMenu = document.getElementById(targetId)

        if (currentMenu && currentMenu !== targetMenu) {
          currentMenu.classList.add('hidden')
          currentButton.classList.remove('active')
        }

        if (targetMenu.classList.contains('hidden')) {
          targetMenu.classList.remove('hidden')
          toggle.classList.add('active')
          currentMenu = targetMenu
          currentButton = toggle
        } else {
          targetMenu.classList.add('hidden')
          toggle.classList.remove('active')
          currentMenu = null
          currentButton = null
        }
      })
    })

    // Close the mega menu if clicking outside of it
    document.addEventListener('click', function (event) {
      if (currentMenu && !currentMenu.contains(event.target)) {
        currentMenu.classList.add('hidden')
        if (currentButton) {
          currentButton.classList.remove('active')
        }
        currentMenu = null
        currentButton = null
      }
    })

    // Prevent menu closing when clicking inside the mega menu
    document.querySelectorAll('.mega-menu').forEach(menu => {
      menu.addEventListener('click', function (event) {
        event.stopPropagation()
      })
    })


    document.addEventListener("DOMContentLoaded", function () {
      const searchForm = document.getElementById('searchForm')
      const searchInput = document.getElementById('searchInput')
      const searchResultBlock = document.querySelector('.searchResultBlock')
      const searchResultText = document.getElementById('searchResultText')

      searchForm.addEventListener('submit', function (event) {
        event.preventDefault()

        const query = searchInput.value.trim()

        if (query && query !== '') {
          searchResultBlock.classList.add("show");
          searchResultText.innerHTML = `Вы искали: <span class='text-primary font-semibold'>"${query}"</span>`
        } else {
          searchResultBlock.classList.remove("show");
          searchResultText.innerHTML = ''
        }
      })
    });

  </script>

  <script src="./js/scripts.js"></script>