<div class="searchContainer w-full max-w-md relative">
    <form class="searchForm flex items-center relative">
        <input type="text" placeholder="Search..."
            class="searchInput bg-white-2 relative w-full rounded-lg border-0 py-2 pl-14 pr-16 min-h-[56px] focus:outline-none focus:ring-inherit focus:border-transparent focus:shadow-none">
        <svg class="absolute left-3 top-3 block" width="30" height="30" viewBox="0 0 30 30" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M3 13.9072C3 7.88334 7.88334 3 13.9072 3C19.931 3 24.8144 7.88334 24.8144 13.9072C24.8144 19.931 19.931 24.8144 13.9072 24.8144C7.88334 24.8144 3 19.931 3 13.9072ZM13.9072 4.76873C8.86018 4.76873 4.76873 8.86018 4.76873 13.9072C4.76873 18.9542 8.86018 23.0456 13.9072 23.0456C18.9542 23.0456 23.0456 18.9542 23.0456 13.9072C23.0456 8.86018 18.9542 4.76873 13.9072 4.76873Z"
                fill="#333333" />
            <path
                d="M20.4875 20.4875C20.8329 20.1422 21.3929 20.1422 21.7382 20.4875L26.741 25.4903C27.0863 25.8357 27.0863 26.3956 26.741 26.741C26.3956 27.0863 25.8357 27.0863 25.4903 26.741L20.4875 21.7382C20.1422 21.3929 20.1422 20.8329 20.4875 20.4875Z"
                fill="#333333" />
        </svg>
    </form>
    <div class="searchResultBlock bg-white rounded-lg border border-primary p-5 flex-col items-start">
        <div class='flex flex-col gap-4'>
            <a href='#' class='flex items-center underline text-black-1 hover:text-primary'>
                <div
                    class='mr-4 flex justify-center items-center border border-primary rounded overflow-hidden w-20 min-w-[80px] min-h-[60px]'>
                    <img src="" alt="">
                </div>
                <span>Juviderm Ultra 3 (2*1ml)</span>
            </a>
            <a href='#' class='flex items-center underline text-black-1 hover:text-primary'>
                <div
                    class='mr-4 flex justify-center items-center border border-primary rounded overflow-hidden w-20 min-w-[80px] min-h-[60px]'>
                    <img src="" alt="">
                </div>
                <span>Juviderm Ultra 3 (2*1ml)</span>
            </a>
            <a href='#' class='flex items-center underline text-black-1 hover:text-primary'>
                <div
                    class='mr-4 flex justify-center items-center border border-primary rounded overflow-hidden w-20 min-w-[80px] min-h-[60px]'>
                    <img src="" alt="">
                </div>
                <span>Juviderm Ultra fghdfg rth fdgh dfgh 3 (2*1ml)</span>
            </a>
        </div>
    </div>
</div>