@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-tiles {
    background-size: 73px 73px;
    background-image: linear-gradient(currentColor 1px, transparent 1px),
      linear-gradient(to right, currentColor 1px, transparent 1px);
    @apply -m-0.5;
  }
}

@layer components {
  .container {
    @apply minsm:max-w-[640px] minmd:max-w-[768px] minlg:max-w-[1024px] minxl:max-w-[1280px] min2xl:max-w-[1312px] px-2;
  }
}

.clock-icon {
  background: url(../img/clock.svg);
  @apply block bg-100-auto bg-no-repeat bg-center w-[22px] h-[22px]
}

.phone-small {
  background: url(../img/call-small.svg);
  @apply block bg-100-auto bg-no-repeat bg-center w-[20px] h-[20px]
}

.phone-icon {
  background: url(../img/calling.svg);
  @apply block bg-100-auto bg-no-repeat bg-center w-[30px] h-[30px]
}

.mail-icon {
  background: url(../img/mail.svg);
  @apply block bg-100-auto bg-no-repeat bg-center w-[22px] h-[17px]
}

.botulinum-icon {
  background: url(../img/Botulinum.svg);
  @apply block bg-100-auto bg-no-repeat bg-center w-[30px] h-[30px]
}

.mesotherapy-icon {
  background: url(../img/Mesotherapy.svg);
  @apply block bg-100-auto bg-no-repeat bg-center w-[30px] h-[30px]
}

.heart-white-icon {
  background: url(../img/Heart-white.svg);
  @apply block bg-100-auto bg-no-repeat bg-center w-[24px] h-[24px]
}

.searchResultBlock {
  @apply hidden absolute w-full left-0 top-16 z-10 overflow-hidden
}

.searchResultBlock.show {
  @apply flex
}


.custom-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  @apply hidden
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  @apply flex
}

.custom-checkbox .checkmark {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  max-height: 0;
  padding: 0 1rem;
}
.accordion-content.show {
  max-height: 1000px; /* Достаточно большое значение, чтобы показать весь контент */
}

.accordion-icon {
  @apply relative border border-primary min-w-[2rem] w-8 h-8 rounded overflow-hidden ml-2
}

.accordion-icon:not(.active) {
  @apply bg-primary
}

.accordion-icon__elem {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
}

.accordion-icon__minus {
  display: block;
}

.accordion-icon:not(.active) .accordion-icon__minus {
  display: none;
}

.accordion-icon__plus {
  display: none;
}

.accordion-icon:not(.active) .accordion-icon__plus {
  display: block;
}

.no-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Устанавливаем transition для плавного переворота */
.rotate-180 {
  transform: rotate(180deg);
}

// .select-arrow {
//   @apply pointer-events-none
// }

.small-select {
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.i-percents {
  background: url(../img/i-percents-100.svg);
  @apply block bg-100-auto bg-no-repeat bg-center w-[70px] h-[70px]
}

.i-delivery {
  background: url(../img/i-delivery.svg);
  @apply block bg-100-auto bg-no-repeat bg-center w-[70px] h-[70px]
}

.i-customer {
  background: url(../img/i-customer.svg);
  @apply block bg-100-auto bg-no-repeat bg-center w-[70px] h-[70px]
}

.i-offer {
  background: url(../img/i-offer.svg);
  @apply block bg-100-auto bg-no-repeat bg-center w-[70px] h-[70px]
}